*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,Helvetica,sans-serif;
}

body{

background:linear-gradient(180deg,#08040f,#12091f,#08040f);

min-height:100vh;

display:flex;

justify-content:center;

align-items:center;

padding:20px;

color:white;

}

.container{

width:100%;

display:flex;

justify-content:center;

align-items:center;

}

.card{

width:100%;

max-width:430px;

background:#18122b;

border-radius:25px;

padding:35px 25px;

text-align:center;

box-shadow:0 0 35px rgba(123,44,255,.45);

border:1px solid rgba(255,255,255,.08);

}

.logo{

width:150px;

margin-bottom:20px;

border-radius:18px;

}

h1{

font-size:32px;

margin-bottom:15px;

}

.text{

color:#bdbdbd;

margin-bottom:25px;

line-height:1.6;

}

.circle{

width:150px;

height:150px;

margin:25px auto;

border-radius:50%;

border:8px solid #7b2cff;

display:flex;

justify-content:center;

align-items:center;

box-shadow:0 0 25px #7b2cff;

animation:pulse 1.5s infinite;

}

.circle span{

font-size:55px;

font-weight:bold;

}

.progress{

width:100%;

height:12px;

background:#2b2144;

border-radius:50px;

overflow:hidden;

margin-top:25px;

}

#bar{

width:0%;

height:100%;

background:#7b2cff;

transition:.9s;

}

.status{

margin-top:20px;

color:#cccccc;

font-size:15px;

}

.download-btn{

display:none;

margin-top:30px;

padding:15px;

background:#7b2cff;

border-radius:12px;

color:white;

text-decoration:none;

font-weight:bold;

transition:.3s;

}

.download-btn:hover{

background:#9455ff;

box-shadow:0 0 20px #7b2cff;

}

@keyframes pulse{

0%{

transform:scale(1);

}

50%{

transform:scale(1.05);

}

100%{

transform:scale(1);

}

}

@media(max-width:768px){

.card{

max-width:95%;

padding:25px;

}

.circle{

width:130px;

height:130px;

}

.circle span{

font-size:45px;

}

.logo{

width:120px;

}

h1{

font-size:28px;

}

}
